# Part 1: Scenario

**Chicago Airbnb**
- You and a group of friends are considering purchasing a property in Chicago that you can use as an investment. You have heard from other people that they have made a lot of money by renting out either a room or an entire unit (apartment or house). Your friends ask you to analyze data so that they can understand how much you would charge per night based on the type of dwelling you were to purchase.

# Part 2: Split ad Store your data

In [1]:
# libraries
import pandas as pd

In [2]:
# load data into a pandas dataframe

data = pd.read_csv("listings.csv")
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,"Hyde Park - Walk to UChicago, 10 min to McCormick",2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,60,2,178,2019-12-15,2.56,1,353
1,4505,394 Great Reviews. 127 y/o House. 40 yds to tr...,5775,Craig & Kathleen,NaN,South Lawndale,41.85495,-87.69696,Entire home/apt,105,2,395,2020-07-14,2.81,1,155
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,60,2,384,2020-03-08,2.81,1,321
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,NaN,Lincoln Park,41.91769,-87.63788,Entire home/apt,65,4,49,2019-10-23,0.63,9,300
4,10610,3 Comforts of Cooperative Living,2140,Lois,NaN,Hyde Park,41.79612,-87.59261,Private room,21,1,44,2020-02-14,0.61,5,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,45514091,Best view of Chicago downtown + optional parking,367907062,Melanie And Ryan,NaN,Near South Side,41.85574,-87.62507,Entire home/apt,146,2,0,NaN,NaN,4,180
6393,45514389,Luxurious 3Br/2Ba with optional parking and View,367907062,Melanie And Ryan,NaN,Near South Side,41.85561,-87.62342,Entire home/apt,195,2,0,NaN,NaN,4,180
6394,45514632,Two story Penthouse w private Rooftop & Great ...,367907062,Melanie And Ryan,NaN,Near South Side,41.85584,-87.62404,Entire home/apt,493,2,0,NaN,NaN,4,177
6395,45515281,West Town Private Room,347064639,Ali,NaN,West Town,41.89005,-87.66668,Private room,53,32,0,NaN,NaN,1,83
6396,45515581,Chicago Themed Private Garden Apartment,19541995,Kendal,NaN,Douglas,41.82964,-87.62048,Entire home/apt,61,1,0,NaN,NaN,1,170

In [3]:
# random select 100 rows & save to new csv AND remove from primary dataframe

sample = data.sample(n=100, random_state=1)
sample

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2106,22086468,"Style, comfort & class",159752521,Moraima,NaN,West Town,41.90372,-87.69651,Private room,29,3,41,2020-03-18,1.34,1,14
308,3953880,Spacious Bedroom in E. Rogers Park,20494609,Chad,NaN,Rogers Park,42.00493,-87.66471,Private room,80,3,27,2019-12-15,0.54,2,355
2606,25984142,"â˜…â˜…â˜…Charming 2BR near downtown, +FREE parkingâ˜…â˜…â˜…",151133847,Candace,NaN,West Town,41.89355,-87.66210,Entire home/apt,129,3,57,2020-08-31,2.10,3,235
2045,21695306,"LAKEVIEW HEART! BOYSTOWN -WRIGLEY ""HOSTEL STYL...",154630260,Ody,NaN,Lake View,41.94055,-87.65429,Shared room,51,2,0,NaN,NaN,18,0
1936,21189762,Lakeview apartment (Wrigley area),153025288,George,NaN,Lake View,41.93411,-87.66960,Entire home/apt,150,2,2,2017-10-22,0.06,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5122,40871030,Beautifly Rehabbed Spacious Studio Appartment,315315574,Teresa,NaN,Hermosa,41.92095,-87.73630,Entire home/apt,65,1,20,2020-09-14,3.13,1,175
3779,34572407,"Million $ beach view-close to downtown, airport.",121483549,Mukul,NaN,Edgewater,41.98568,-87.65641,Entire home/apt,69,2,47,2020-06-26,2.95,1,211
1253,15336197,Cozy-Chic Lincoln Park Studio,3112582,Lynn,NaN,Lincoln Park,41.93046,-87.65241,Entire home/apt,200,2,18,2019-10-20,0.38,1,0
3163,29707921,A Northside Home Near Wrigley & CTA (Sleeps 21),17035591,Joshua,NaN,Uptown,41.96266,-87.66851,Entire home/apt,475,1,13,2020-03-15,0.65,5,0
4870,39798182,Spacious Suite in a Great Logan Square Location!,185554981,Calvin,NaN,Logan Square,41.92265,-87.71943,Entire home/apt,48,3,16,2020-09-18,1.66,1,18

In [4]:

new_data = data.drop(sample.index)
new_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,"Hyde Park - Walk to UChicago, 10 min to McCormick",2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,60,2,178,2019-12-15,2.56,1,353
1,4505,394 Great Reviews. 127 y/o House. 40 yds to tr...,5775,Craig & Kathleen,NaN,South Lawndale,41.85495,-87.69696,Entire home/apt,105,2,395,2020-07-14,2.81,1,155
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,60,2,384,2020-03-08,2.81,1,321
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,NaN,Lincoln Park,41.91769,-87.63788,Entire home/apt,65,4,49,2019-10-23,0.63,9,300
4,10610,3 Comforts of Cooperative Living,2140,Lois,NaN,Hyde Park,41.79612,-87.59261,Private room,21,1,44,2020-02-14,0.61,5,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,45514091,Best view of Chicago downtown + optional parking,367907062,Melanie And Ryan,NaN,Near South Side,41.85574,-87.62507,Entire home/apt,146,2,0,NaN,NaN,4,180
6393,45514389,Luxurious 3Br/2Ba with optional parking and View,367907062,Melanie And Ryan,NaN,Near South Side,41.85561,-87.62342,Entire home/apt,195,2,0,NaN,NaN,4,180
6394,45514632,Two story Penthouse w private Rooftop & Great ...,367907062,Melanie And Ryan,NaN,Near South Side,41.85584,-87.62404,Entire home/apt,493,2,0,NaN,NaN,4,177
6395,45515281,West Town Private Room,347064639,Ali,NaN,West Town,41.89005,-87.66668,Private room,53,32,0,NaN,NaN,1,83
6396,45515581,Chicago Themed Private Garden Apartment,19541995,Kendal,NaN,Douglas,41.82964,-87.62048,Entire home/apt,61,1,0,NaN,NaN,1,170

In [5]:
# save remaining data to PostgreSQL databse
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
#connect database
# Note:: The make sure you use the information from your specific PostgreSQL installation
host = r'127.0.0.1' # denotes that the db in a local installation
db = r'MSDS610' # db we just created
user = r'postgres' # using the postgres user for this demo
pw = r'****' # this is the password established during installation
port = r'5432' # default port estabalished during install
schema = r'raw' # schema we just created

In [6]:
db_conn = create_engine(f"postgresql://{user}:{pw}@{host}:{port}/{db}")

In [7]:
sql="select tables.table_name from information_schema.tables where (table_schema ='"+schema+"')order by 1;"
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

                           table_name
0                      chicago_airbnb
1    chicago_data_cleaning_preprocess
2  chicago_data_cleaning_preprocess_2
3                      global_warming

In [8]:
table_name = r'chicago_airbnb'
new_data.to_sql(table_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')

6297

In [9]:
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

                           table_name
0                      chicago_airbnb
1    chicago_data_cleaning_preprocess
2  chicago_data_cleaning_preprocess_2
3                      global_warming

In [10]:
# save 100 sample data
table_name = r'chicago_airbnb_live_data'
sample.to_sql(table_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')

100

In [11]:
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

                           table_name
0                      chicago_airbnb
1            chicago_airbnb_live_data
2    chicago_data_cleaning_preprocess
3  chicago_data_cleaning_preprocess_2
4                      global_warming

# screenshot of PgAdmin showing newly created table
![pgAdmin image](Screenshot1.png)

# Part 3: Data Definition and Analytical Question

### Data Definition

| Name        | Description | Type |
| :----------- | :----------- |:-------:|
| id          | The id of the airbnb       |discrete|
| name        | The name of the airbnb        |nominal|
| host_id     | The id of the host        |discrete|
| host_name   | The name of the host       |nominal|
| neighborhood| Which area is the airbnb belongs to        | nominal|
| latitude    | The latitude of the position        |continous|
| longitude   | The longitude of the position        |continous|
| room_type   | Entire home/apt, Private room or Other        |nominal|
| price       | The price of the apartment(per day)        |discrete|
| minimum_nights   | The least nights you need to book        |discrete|
| number_of_reviews| The total number of the reviews on this dataset        |discrete|
| last_review      |  The last review time        |ordinal|
| reviews_per_month                | How many reviews the airbnb can receive per month        |discrete|
| calculated_host_listings_count   | The total listing number of the host|discrete|
| availability_365                 | he available days        |discrete|




- although price can be continous the data set dosent have continous input but all discrete inpit

### Analytical Question
   - What factors influence the nightly rental price of an Airbnb in Chicago, and how can these factors be used to estimate a competitive price for a given property type?

**Target Variable**
- **`Price`**
    - indepth Variables:
        - **`Revenue_per_month`**